<div class="col-xs-12">
    <h3 class="smaller lighter blue"> {{currentPage.title}} </h3>


    <div class="row" style="display: none">
        <div class="col-xs-12 col-sm-6 col-md-5 hidden-xs hidden-sm">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                    <div class="profile-info-name">สายรถ</div>
                    <div class="input-group">
                        <!--<span id="route_name" class="form-control">{{reqData.route_name}}</span>-->
                        <input type="text" name="txtSearch" class="form-control" readonly
                               ng-model="newData.route_name"/>

                        <div class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-primary" ng-click="showDlgRoute()">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                    <div>

                    </div>
                    <div class="profile-info-name">พนักงาน</div>

                    <div class="profile-info-value">
                        <span>{{newData.transporter1_name}}</span>
                        <span>{{newData.transporter2_name}}</span>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4  hidden-xs hidden-sm">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">

                    <div class="profile-info-name">วันที่</div>

                    <div class="profile-info-value">
                        <span>{{document_date}}</span>
                    </div>
                    <div class="profile-info-name">รอบที่</div>

                    <div class="profile-info-value">
                        <span>{{reqData.round}}</span>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 center">
            <div id="btnGrp" class="btn-group btn-sm btn-corner">
                            <span class="btn btn-pink" ng-click="pageClear();">
                                <i class="ace-icon fa fa-refresh bigger-150"></i>
                                        ล้างข้อมูล
                            </span>

                            <span class="btn btn-primary" ng-click="saveData();">
                                <i class="ace-icon fa fa-save bigger-150"></i>
                                         บันทึกข้อมูล
                            </span>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <div class="row" style="display: none">>
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->

            <div class="col-xs-12 col-sm-4">

                <table id="tdData" class="table table-striped table-bordered table-hover">
                    <thead class="thin-border-bottom center">
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
            <div class="col-xs-12 col-sm-8">
                <div>

                </div>
            </div>

            <!-- PAGE CONTENT ENDS -->
        </div>
    </div>
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-8">
            <div class="row no-padding no-margin">
                <div class="col-sm-2">
                    <label class="inline">
                        <small class="muted smaller-90">ไปส่ง:</small>
                        <input type="checkbox"
                               class="ace ace-switch ace-switch-5">
                        <span class="lbl middle"></span>
                    </label>
                </div>
                <div class="col-sm-5">
                    <div class="input-group">
																	<span class="input-group-addon">
																		ลูกค้า <i
                                                                            class="ace-icon fa fa-user blue bigger-110"></i>
																	</span>

                        <input type="text" class="form-control search-query" ng-model="customerInfo.customer_fullname"
                               placeholder="ชื่อลูกค้า" readonly>
                                                            <span class="input-group-btn">
																		<button type="button" ng-click="showDlgCustomer()"
                                                                                class="btn btn-yellow btn-sm">
                                                                            <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                                                                        </button>
																	</span>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="input-group">
																	<span class="input-group-addon">
																		สายรถ
                                                                        <i class="ace-icon fa fa-truck blue bigger-110"></i>
																	</span>

                        <input type="text" class="form-control search-query"
                               placeholder="สายรถ" readonly  ng-model="newData.route_name">
                                                            <span class="input-group-btn">
																		<button type="button" ng-click="showDlgRoute()"
                                                                                class="btn btn-primary btn-sm">
                                                                            <span class="ace-icon fa fa-search  icon-on-right bigger-110"></span>
                                                                        </button>
																	</span>
                    </div>
                </div>
            </div>

            <div style="border-top: 10px double #E5E5E5;">
                <ul id="boxPickProduct" class="ace-thumbnails clearfix pull-left" style="margin-top: 10px;">
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">

            <div class="row well search-area">
                <table id="cart-details"
                       style="width: 100%; padding: 5px;vertical-align: top; font-size: larger;">
                    <!--<tfoot class="hidden-xs hidden-sm hidden-md">-->
                    <tr class="active">
                        <td width="120" class="text-left"> รายการรวม ( <span
                                class="items-number" id="infoItemCount">{{slipInfo.item_count}}</span> )
                        </td>
                        <td class="text-right hidden-xs"></td>
                        <td class="text-right align-top">ราคารวม</td>
                        <td width="90" style="padding-right: 5px;"
                            class="text-right  align-top blue">
                            <span id="infoPriceAmt">{{slipInfo.price_amt}}</span>
                        </td>
                        <td width="150" style="border-left: solid #7DB4D8 2px;"
                            class="text-center">
                            <span>ราคาสุทธิ</span>
                        </td>
                    </tr>
                    <tr class="active">
                        <td>
                        </td>
                        <td></td>
                        <td class="text-right align-top">หักส่วนลด</td>
                        <td style="padding-right: 5px;"
                            class="text-right align-top red">
                            <span id="infoDiscount">{{slipInfo.discount_amt}} </span></td>
                        <td style="height: 40px;border-left: solid #7DB4D8 2px;"
                            class="text-center green"><h1><b id="infoTotalNet">{{slipInfo.total_net}}</b></h1>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="row">
                <div class="col-xs-12 center no-padding">
                    <div class="btn-group btn-sm btn-corner">
                        <button class="btn btn-success" ng-click="saveData();">
                            <i class="ace-icon fa fa-money bigger-140"></i>
                            ชำระเงิน
                        </button>
                        <button class="btn btn-danger" ng-click="editDiscount();">
                            <i class="ace-icon fa fa-cart-arrow-down bigger-140"></i>
                            ส่วนลด
                        </button>
                        <button class="btn btn-pink" ng-click="pageClear();">
                            <i class="ace-icon fa fa-refresh bigger-140"></i>
                            ล้างข้อมูล
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="hr hr2 hr-double"></div>
            </div>
            <div class="row">
                <table id="tbPickData" class="table table-striped table-hover table-responsive">

                </table>
            </div>

        </div>
    </div>
</div>