<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <runtime>
        <gcServer enabled="true"/>
    </runtime>
    <connectionStrings>
        <add name="SiamEastConnectionString"
             connectionString="data source=bkkvmsql02.ppm.local;Database=SiamEast;user id=sa;password=P@ssw0rD;"/>
    </connectionStrings>
</configuration>