<div class="col-xs-12">
    <h3 class="smaller lighter blue"> {{currentPage.title}} </h3>


    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 hidden-xs hidden-sm">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                    <div class="profile-info-name">สายรถ</div>
                    <div class="input-group">
                        <!--<span id="route_name" class="form-control">{{reqData.route_name}}</span>-->
                        <input type="text" name="txtSearch" class="form-control" readonly
                               ng-model="reqData.route_name"/>

                        <div class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-primary" ng-click="showDlgRoute()">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="profile-info-name">พนักงาน</div>

                    <div class="profile-info-value">
                        <span>{{reqData.transporter1_name}}</span>
                        <span>{{reqData.transporter2_name}}</span>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6  hidden-xs hidden-sm">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">

                    <div class="profile-info-name">วันที่</div>

                    <div class="profile-info-value">
                        <span>{{document_date}}</span>
                    </div>
                    <div class="profile-info-name">รอบล่าสุด</div>

                    <div class="profile-info-value">
                        <span>{{reqData.round}}</span>
                    </div>
                </div>

            </div>
        </div>

        <!-- /.col -->
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="widget-box widget-color-blue3">
                <div class="widget-header widget-header-blue widget-header-flat">
                    <h4 class="widget-title lighter">คืนสินค้า</h4>

                </div>

                <div class="widget-body">
                    <div class="widget-main">

                        <div class="wizard-actions">
                            <button class="btn btn-prev invisible" id="btnPrevt">
                                <i class="ace-icon fa fa-arrow-left"></i>
                                ย้อนกลับ
                            </button>

                            <button class="btn btn-info btn-next" data-last="บันทึกข้อมูล" id="btnNext">
                                ต่อไป
                                <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                            </button>
                        </div>
                        <div id="fuelux-wizard-container">
                            <div class="">
                                <ul class="steps">
                                    <li class="active" data-step="1">
                                        <span class="step">1</span>
                                        <span class="title">รายการคืน</span>
                                    </li>

                                    <li data-step="2">
                                        <span class="step">2</span>
                                        <span class="title">รายการขาย</span>
                                    </li>

                                    <li data-step="3">
                                        <span class="step">3</span>
                                        <span class="title">บันทึกข้อมูล</span>
                                    </li>

                                </ul>
                            </div>

                            <hr/>

                            <div class="step-content pos-rel">
                                <div class="step-pane active" data-step="1">
                                    <div class="col-xs-7 col-sm-7">

                                        <table class="table table-striped table-bordered table-hover" id="tbProd"
                                               style="width: 100%;">
                                            <thead class="thin-border-bottom center">
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>

                                    </div>
                                    <div class="col-xs-5 col-sm-5">
                                        <table class="table table-striped table-bordered table-hover" id="tbPackage"
                                               style="width: 100%;">
                                        </table>
                                    </div>
                                </div>

                                <div class="step-pane" data-step="2">
                                    <div id="pnlEntryData">
                                        <div class="row">
                                            <div class="col-xs-4 col-sm-4">
                                                <div class="input-group">
																	<span class="input-group-addon">
																		ลูกค้า <i
                                                                            class="ace-icon fa fa-user blue bigger-150"></i>
																	</span>

                                                    <input class="form-control search-query" ng-model="itemInfo.customer_name"
                                                           placeholder="ชื่อลูกค้า"
                                                           readonly type="text">
                                                    <span class="input-group-btn">
																		<button class="btn btn-yellow btn-sm"
                                                                                ng-click="showDlgCustomer()"
                                                                                type="button">
                                                                            <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                                                                        </button>
																	</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-3 col-sm-3">
                                                <div class="input-group">
                                                <span class="input-group-addon">
																		สินค้า <i
                                                        class="ace-icon fa fa-barcode blue bigger-150"></i>
																	</span>

                                                    <select class="form-control" id="ddlSelectProd">

                                                    </select>
                                                    <span class="input-group-addon orange" id="prodRemantAmt">00</span>
                                                    <!--ng-options="a.product_id as a.product_name for a in lstItemPrepare | filter:{balance_amt: '!= 0'}"-->
                                                </div>
                                            </div>
                                            <div class="col-xs-2 col-sm-2">
                                                <div class="input-group">
                                                <span class="input-group-addon">
														  ขายจำนวน <i
                                                        class="ace-icon fa fa-cart-arrow-down blue bigger-150"></i>
                                                    </span>
                                                    <input class="form-control text-right number" data-decimal="0"
                                                           id="txtQTY"
                                                           maxlength="3" ng-change="changeQTY();"
                                                           ng-model="itemInfo.quantity" tabindex="1" type="text"/>
                                                    <span class="input-group-addon ">.00</span>
                                                    <!--<div class="btn-group-xs  pull-left">-->
                                                    <!--<button id="btnSubtract" class="btn btn-danger">-->
                                                    <!--<i class="icon-only  ace-icon ace-icon fa fa-minus bigger-110"></i>-->
                                                    <!--</button>-->
                                                    <!--<button id="btnEdit" type="button" ng-click="showDlgNumpad();"-->
                                                    <!--class="btn btn-white btn-pink btn-xs"-->
                                                    <!--style="width: 40px;"-->
                                                    <!--value="0">{{itemInfo.quantity}}-->
                                                    <!--</button>-->
                                                    <!--<button id="btnPlus" class="btn btn-success"><i-->
                                                    <!--class="icon-only  ace-icon ace-icon fa fa-plus bigger-110"></i>-->
                                                    <!--</button>-->
                                                    <!--</div>-->

                                                </div>
                                            </div>
                                            <div class="col-xs-2 col-sm-2 text-right">

                                                <div class="input-group">
                                                <span class="input-group-addon">
																		  ค้างชำระ <i
                                                        class="ace-icon fa fa-dollar orange"></i>
																	</span>

                                                    <input class="form-control text-right number" data-decimal="0"
                                                           id="txtArrearAmt"
                                                           maxlength="6"
                                                           ng-model="itemInfo.arrears_price" tabindex="2" type="text"/>
                                                    <span class="input-group-addon">.00</span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-xs-11 col-sm-11">
                                                <button class="btn btn-primary btn-bold " id="btnAddAll"
                                                        ng-click="addItemRemainAll();">
                                                    <i class="fa fa-plus-square bigger-150"></i>
                                                    เพิ่มทั้งหมด
                                                </button>
                                            </div>
                                            <div class="col-xs-1 col-sm-1 text-right">
                                                <button class="btn btn-success btn-bold " id="btnAdd"
                                                        ng-click="btnAddClicked();">
                                                    <i class="fa fa-plus bigger-150"></i>
                                                    เพิ่มข้อมูล
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12">
                                            <table class="table table-striped table-bordered table-hover" id="tbItem"
                                                   style="width: 100%;">
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="step-pane" data-step="3">
                                    <div class="center">
                                        <h3 class="blue lighter">This is step 3</h3>

                                        <div class="btn-group btn-sm btn-corner" id="btnGrp">
                            <span class="btn btn-pink" ng-click="pageClear();">
                                <i class="ace-icon fa fa-refresh bigger-150"></i>
                                        ล้างข้อมูล
                            </span>

                                            <span class="btn btn-primary" ng-click="saveData();">
                                <i class="ace-icon fa fa-save bigger-150"></i>
                                         บันทึกข้อมูล
                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- /.widget-main -->
                </div>
                <!-- /.widget-body -->
            </div>
        </div>
    </div>
</div>