<div class="col-xs-12">
    <h3 class="smaller lighter blue"> {{currentPage.title}} </h3>


    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-5 hidden-xs hidden-sm">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                    <div class="profile-info-name">สายรถ</div>

                    <div class="profile-info-value">
                        <span id="route_name">{{reqData.route_name}}</span>
                    </div>

                    <div class="profile-info-name">พนักงาน</div>

                    <div class="profile-info-value">
                        <span>{{reqData.transporter1_name}}</span>
                        <span>{{reqData.transporter2_name}}</span>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4  hidden-xs hidden-sm">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">

                    <div class="profile-info-name">วันที่</div>

                    <div class="profile-info-value">
                        <span>{{document_date}}</span>
                    </div>
                    <div class="profile-info-name">รอบที่</div>

                    <div class="profile-info-value">
                        <span>{{reqData.round}}</span>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 center">
            <div id="btnGrp" class="btn-group btn-sm btn-corner">
                            <span class="btn btn-pink" ng-click="pageClear();">
                                <i class="ace-icon fa fa-refresh bigger-150"></i>
                                        ล้างข้อมูล
                            </span>

                            <span class="btn btn-primary" ng-click="saveData();">
                                <i class="ace-icon fa fa-save bigger-150"></i>
                                         บันทึกข้อมูล
                            </span>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <div class="row">
        <!--<div class="col-xs-12">-->
        <!-- PAGE CONTENT BEGINS -->
        <div class="col-xs-12 col-sm-8 col-md-8">
            <div class="widget-box widget-color-blue3" id="widget-box-10">
                <div class="widget-header widget-header-small">
                    <h5 class="widget-title smaller">เลือกสินค้า</h5>
                </div>

                <div class="widget-body">
                    <div class="widget-main padding-6">
                        <div class="tab-content" style="height: 700px">
                            <div class="tab-pane in active" id="home">
                                <div style="height: inherit">
                                    <ul class="ace-thumbnails clearfix pull-left" id="boxPickProduct">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 ">
            <div class="widget-box widget-color-pink no-padding" id="boxSlipInfo">
                <div class="widget-body">
                    <div class="widget-main no-padding-top">
                        <div class="tab-content no-padding" style="height: 735px">
                            <table class="table table-striped table-bordered table-hover" id="tbData">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
        <!--</div>-->
    </div>
</div>